.btn {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: $colorA;
    color: $colorG;
    border: none;
    cursor: pointer;
}

.btn-default {
    background-color: #b0b0b0;
    color: $colorG;
    border: 1px solid $colorF;
}

.btn-large {
    width: 202px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.btn-huge {
    width: 300px;
    height: 54px;
    line-height: 54px;
    font-size: $fontI;
}

.btn-group {
    .btn {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}